main h1{
    font-size: 80px;
    background: darkred;
    color: white;
    text-align: center;
}

h2 {
    font-size: 30px;
}

p{
    text-align: justify;
    font-size: 18px;
}
body{
    font-family: "Abyssinica SIL",Serif;
}

footer{
    background:darkgray ;
}