/* Versão para Computador */


*	{
	margin: 0;
	padding: 0;
}

body {
    background-image: url(../img/Wallpaper2.png);
	height: 100%;
	width: 100%;
	}

.log-menu img {
	display: block;
	margin:auto;
    padding: 6px;
	width: 60%;
	height: auto;
	position: relative;
}
/* Contrução do Menu */

#btn_menu{
	display: none;
}

header {
	background-color: #DAA520;
	font-weight: 600;
    padding: 6px 0px;
    width: 100%;
  	font-family: 'Arial', sans-serif;
}

header label {
	color: black;
	font-size: 25px;
	display: block;
	padding: 5px 10px;
	width: 30px;
	border-right: 1px solid #DAA520;
	display: none;
		font-family: 'Arial', sans-serif;
}

header label:hover {
	background-color: #F0E68C;
} 

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	transition: all .4s;
	z-index: 1;
}

.menu li a {
	color: #F5F5F5;
	text-decoration: none;
	padding: 15px 20px;
	display: block;
	border-right: 1px solid #F5F5F5;
}

.menu li a:hover {
	background-color: #DAA520;
}



/* Slide */




.slide {
	display: flex;
	height: 50%;
	border-radius: 20px;
	padding: 8px 0px;
}



/* Espaço Criadores */




.criacao {
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 0px 10px;

}
    
.criacao table{
        flex-direction: row;
        text-align: center;

    }
    
.criacao td {
        flex-direction: column;
        text-align: center;
        padding: 15px 40px;
    }
.criacao img {
	border-radius: 50%;
}
    
.criacao tr {
        flex-direction: row;
        text-align: center;

    }
.criacao h3 {
		font-family: 'Francois One', sans-serif;
		font-size: 30px;
		color: #228B22;
}
.criacao p {
		font-size: 16px;
		padding-top: 5px;
		color: grey;
}
.int {

	text-align: center;
}

.int > h2	{
        text-align: center;
        flex-direction: column;
        font-family: 'Francois One', sans-serif;
        font-size: 40px;
        color: #DAA520;
        padding: 5px;
}
.int > p {
		font-size: 18px;
		padding-top: 8px;
}



/* Restaurantes */



.nr1 {
    flex-direction: row;
    width: 100%;
    }




/* Alinhamento das tabelas */





.nr1 table, td, tr{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    }
.nr1 tr{
    flex-direction: row;
    align-items: center;
    width: 100%;
    }
    
.nr1 td{
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 0px 10px;
    }
.nr1 img {
    width: 300px;
    height: 300px;
    background-color: white;
}




/* Texto das Tabelas */





.nr1 h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: #228B22;
    width: 100%;
    color: #DAA520;
    font-family: 'Crete Round', serif;
    }
    
.nr1 p{
    display: flex;
    align-items: center;
    padding: 4px;
    color: #006400;
    text-align: center;
    font-size: 12px;
    }

.nr1 img {
    background-size: 200px 200px;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 5%;
    }




/* Receitas */




    
    .cd1 h1{
        flex-direction: column;
        align-items: center;
        padding: 30px;
        text-align: center;
        font-family: 'Acme', sans-serif;
        color: #800000;
        font-size: 40px;
    }
    .cd1 h2{
        color: #800000;
        padding: 20px;
        text-align: center;
        font-family: 'Acme', sans-serif;
        font-size: 40px;
    }
    
    .cd1 h3 {
        color: blueviolet;   
    }
    


    /* Tabela Receitas */   




    .receita table{
        flex-direction: column;
        width: 100%;

    }

    .receita tr {
    	width: 100%;
    	flex-direction: row;
    }

    .receita td{
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 14px;
    }
    
    .receita img {
        padding: 0px;
        align-items: center;
        width: 100%;
        text-align: center;
        border-radius: 4px;
    }

    .receita h3 {
    	font-family: 'Francois One', sans-serif;
    	font-size: 30px;
    	color: #DAA520;
    	padding:0px;
    }

    .receita p {
    	font-family: 'Lobster', cursive;
    	font-size: 18px;
    	padding: 10px 0px;
    	color: #228B22;
    }

/* Receita Info */

.cdinfo {
    display: flex;
    text-align: center;
    align-items: center;
}

.cdinfo h2 {
    text-align: center;
    display: flex;
    align-items: center;
    margin: auto;
    font-size: 60px;
    color: orangered;
    padding: 20px;
    font-family: 'Acme', sans-serif;
    
}

.receitainfo {
    width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: #FFC125 ;
}

.receitainfo tr {
    border: none;
    flex-direction: row;
    display: flex;
    padding: 10px;
}

.tes0 img {
    border: 0;
    width: 100%;
    border-radius: 15px;
}

.receitainfo td {
    border: 0;
    flex-direction: column;
    padding: 20px;
}
.receitainfo a {
	text-decoration: none;
	list-style: square;
}    
.contato {
    font-family: 'Acme', sans-serif;
    color: #800000;
    padding: 20px;
    align-items: center;
    text-align: center;
    background-color:  #FFC125;
}
.contato h1 {
    padding: 20px;
}

    /* Versão Mobile */



@media(max-width: 768px){
    
    .log-menu img{
        width: 100%;
        margin: 0px;
        height: auto;
        display: flex;
    }

	header label{
		display: block;
		width: 48px;
	}
	
	.menu ul {
		position: absolute;
		background-color: #DAA520;
		width: 70%; 
		flex-direction: column;
		margin-left: -70%;
	}

	.menu li a {
		border-top: 1px solid #efefef;
	}

	#btn_menu:checked ~ .menu ul{
		margin-left: 0;
	}
    
    
    
/* Slide Mobile */
    
    
    
    .slide{
        height: auto;  
    }
    
    
    
/* Parte dos Criadores Mobile */    
    
    
    
    .criacao {
        margin: 0px;
        flex-direction: column;
    }
    
    .criacao table{
        flex-direction: column;
        text-align: center;
        width: auto;
        padding: 10px;
    }
    
    .criacao td {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }
    
    .criacao img {
	border-radius: 50%;
    }
    
    .criacao tr {
        flex-direction: column;
        text-align: center;
        padding: 2px;
    }
    
    
    
/* Informações do Projeto Mobile */
    
    
    
    
    .int {
        width: 100%;
        text-align: center;
    }   

    .int > h2	{
        text-align: center;
        flex-direction: column;
        padding: 0px 20px;
    }
    .int p {
        text-align: center;
        flex-direction: column;
    }

    
    
/* Restaurantes Mobile */
    
    
    .nr1 {
    flex-direction: row;
    width: 100%;
    }




/* Alinhamento das tabelas */





.nr1 table, td, tr{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    }
.nr1 tr{
    flex-direction: column;
    align-items: center;
    width: 100%;
    }
    
.nr1 td{
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px 9px;
    }





/* Texto das Tabelas */

    
    


.nr1 h3{
    width: 100%;
    }
    
.nr1 p{
    display: flex;
    align-items: center;
    padding: 4px;
    text-align: center;
    }

.nr1 img {
    background-size: 200px 200px;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 2%;
    }

    
    
/* Receitas Mobile */
    
    
    
  .cd1{
        flex-direction: column;
        align-items: center;
        margin: auto;
        text-align: center;
    }
    
    .cd1 h2{
        color: brown;
    }
    
    .cd1 h3 {
        color: blueviolet;   
    }
    


    /* Tabela Receitas */   




    .receita table{
        padding: 0px;
        flex-direction: column;
        width: 100%;
        align-items: center;

    }
    
    .receita tr {
        margin-left: 2%;
    	width: 100%;
    	flex-direction: column;
        align-items: center;
    }
    
    .receita td{
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 10px;
    }
    
    .receita img {
        padding: 0px;
        align-items: center;
        width: 100%;
        margin: auto;
    }
    .receita p {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
    }

    /* Receitas Info */
    

.receitainfo table  {
    display: flex;
    flex-direction: column;
}

.receitainfo tr {
    border: none;
    flex-direction: column;
    display: flex;
    padding: 10px;
    font-family: 'Lobster', cursive;
    font-size: 18px;
    text-align: justify;
    color: black;
}

    .tes0 img {
    padding-top: 10px;
    border: 0;
    width: 95%;
    border-radius: 15px;
}

.receitainfo td {
    border: 0;
    flex-direction: column;
    padding: 20px;
}
    
}